.certificate-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

.cert-link {
  position: relative;
  display: inline-block;
  padding: 0.1rem 0.1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
  border-radius: 12px;
  text-decoration: none;
   box-shadow: 0 6px 18px rgba(0, 0, 0, 0.4),
              0 0 15px rgba(59, 130, 246, 0.6);
  background: linear-gradient(90deg, #06b6d4, #3b82f6, #ec4899);
  
  transition: all 0.3s ease;
}

.cert-link:hover {
 
  transform: translateY(-2px);
}

.cert-content {
  background: #1a1d20; /* matches your bg */
  padding: 0.6rem 1.5rem;
  border-radius: 10px;
  display: inline-block;
}
